.Image-upload, .Image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Image-upload {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 15px solid var(--border);
}

.Image-upload-container {
    width: 500px;
max-height: 400px;
margin: 100px auto auto;
padding: 20px 30px;
border-radius: 4px;
box-shadow: var(--boxshadowform);
-webkit-box-shadow: var(--boxshadowform);
background: white;
}

.Use-demo-photo-b {
    margin: 10px;
}

.Use-demo-photo-dir {
    font-size: 12px;
}

@media screen and (max-width: 612px) {

    .Image-upload-container  {
        width: 100%;
        box-shadow: none;
    }

}