.Team-register-form {
    width: 500px;
    min-height: 400px;
    margin: auto auto;
    display: flex;
flex-direction: column;
    padding: 20px 30px;
    align-items: center;
    background: white;
}

.Team-register-dir {
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.Team-register-l {
    font-size: 14px;
margin: 10px 0;
font-weight: 500;
text-align: left;
}

.Team-register-c {
    border: 1px solid var(--lightgrey);
    background: none;
    border-radius: 3px;
    width: 200px;
    height: 20px;
    padding: 5px;
}

    .Team-register-submit-b {
        margin-top: 30px !important;
        padding: 10px 30px;

    }

    .Tr-col {
        display: flex;
        flex-direction: column;
    }

    .Tr-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .Team-register-check {
        background-color: var(--blue);
        color: white;
        border: .5px solid var(--lightgrey);
        margin-right: 5px;
    }

    @media screen and (max-width: 612px) {

        .Team-register-form {
            width: 100%;
            box-shadow: none;
        }
    
    }