.TimelineEvent {
    display: flex;
    margin: 0;
    width: 95%;
}

.T-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.T-details-containerTl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 15px 10px;
    border-top: 1px solid #e5e5e5;

}

.T-user-date-container {
    display: flex;
    margin-top: 5px;
}

#headshotTl {
    width: 42px;
    height: 42px;
    border-radius: 10px;
margin: auto 5px;
}

.fa-Te {
    margin-right: 5px;
}

.T-user-date, .T-user-event, .fa-Te {
    font-weight: 500;
    line-height: 16px;
}
.T-user-event, .fa-Te {
font-size: 14px;
}

.T-user-date , .fa-Te {
    color: rgba(0, 0, 0, 0.4);
}

.T-user-date {
    font-size: 12px;
}