.Team-join {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 15px solid var(--border);
    padding: 30px 0;
}

.Team-choose-results {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-width: 300px;
overflow-y: auto;
box-shadow: var(--boxshadow);
-webkit-box-shadow: var(--boxshadow);
}

.Tc-search-container {
    position: relative;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Team-choose-search {
    width: 300px;
    box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
}

.Team-name-ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.Team-name-li {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    border-bottom: 1px solid var(--lightgrey);
}

.Team-choose {
    text-align: center;
    width: 550px;
    min-height: 300px;
    margin: 50px auto auto;
    padding: 20px 30px;
border-radius: 4px;
background: white;
    box-shadow: var(--boxshadowform);
}


.Team-choose-register-b, .Team-choose-dir {
    margin: 20px auto 20px !important;
}

 .Team-choose-dir, .Team-choose-dir2  {
    margin: 45px auto 20px;
    text-shadow: var(--boxshadowform);
    font-size: 21px;
}


@media screen and (max-width: 612px) {

    .Team-choose {
        width: 100%;
        box-shadow: none;
    }

}