.About-page {
    border: 15px solid var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.About-main {
    padding: 20px 200px;
    min-height: 100vh;
}

.About-main-logo {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
font-size: 16px;
font-weight: 600;
letter-spacing: 1px;
margin-left: 30px;
}

.About-main-logo-container {
    flex: 1;
position: absolute;
left: 15px;
top: 30px;
}

.About-main-logo-container > a:visited, .About-main-logo-container > a {
color: #1D1D1F;
}

.About-dir {
    padding: 10px 30px;
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid var(--lightgrey);
}

.About-sub-title {
    font-weight: 500;
}


#centerText {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
}
.detailsRow {
    text-align: center;
    max-width: 850px;
    margin: 40px auto;
}


.About-get-started {
    border: 1px solid var(--lightgrey);
    padding: 20px;
    max-width: 500px;
    margin: 20px 0;
    margin: auto;
}

.About-button-container {
    text-align: center;
    margin: 20px 0;
}