.Login {
    width: 500px;
max-height: 400px;
margin: 100px auto auto;
padding: 20px 30px;
border-radius: 4px;
align-items: center;
box-shadow: var(--boxshadowform);
background: white;
}

.Login-page {
    width: calc(100% -30px);
    height: calc(100vh - 30px);
    border: 15px solid var(--lightgrey);
    background: var(--backgroundGrey);
}

.Login, .Login-user, .Login-password {
    display: flex;
flex-direction: column;
align-content: flex-start;
}

.Login-title {
    font-size: 21px;
    text-align: center;
}

.Login-label {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 500;
}

#LoginFormPassword , #LoginForm__user_name {
    border: 1px solid var(--lightgrey);
    background: none;
    border-radius: 3px;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    }